@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    align-items: center;
    margin-left: 30px;
    border-radius: 8px;
    padding: 10px;
    
    
}
nav h1{
    align-items: center;
    color: #3a9bd9;
    padding: 0 2%;
}
nav ul  {
        flex: 0 0 5%;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-left: 670px;
}
nav ul li {
    list-style: none;
    cursor: pointer;
    color: black;
    margin: 20px;
    align-items: center;


}
header .logo {
        width: 170px;
}
button{
    border-radius: 8px;
    height: 30px;
    width: 100px;
   
}
.kn{
    margin: 10px; 
    padding: 30px;
    border-radius: 8px;
    
}
.ks{
    margin: 10px;  
    padding: 30px;
border-radius: 8px;
}
.km{
    align-items: center;
display: grid;
margin: 10px;  
background-color:#3a9bd9;  
color: white;
padding: 30px;
border-radius: 8px;
}
.k{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    padding: 20px;
}
.basket{
    display: flex;
    flex-direction: row;
    background: linear-gradient(  white,#3a9bd9 );

}

.kobe{
    align-items: center;
    padding: 50px;
    border-color: white 2px;
    border: 3px;
}
 .titre{
    color:  #3a9bd9;
    margin-left: 30px;
    font-size: 3rem; 
}
.lebron{
    padding: 20px;
    
}

 .text{
    padding: 10px;
 }
 .mvp{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    padding: 50px;
   font-size: 2rem;
    
 }
.Embid{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
}
.mvp1{
    margin: 10px;  
    padding: 30px;
border-radius: 8px;
border: 1px solid black;
}
.mvp2{
    align-items: center;
    display: grid;
    margin: 10px;  
    background-color:#3a9bd9;  
    color: white;
    padding: 30px;
    border-radius: 8px;
}
.mvp3{
    margin: 10px;  
    padding: 30px;
border-radius: 8px;
border: 1px solid black;
}
.mvp4{
    margin: 10px;  
    padding: 30px;
border-radius: 8px;
border: 20px;
border: 1px solid black;
}
@media only screen and (min-width: 600px) {
    /* For mobile phones: */
[class*="col-"] {
    width: 414px;
}

}

  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
